body {
  background-image: url('./images/inside-vault.jpg');
  background-repeat: repeat;
  margin: 1em;
  border: 3em, solid, black;
}
h1 {
  color: rgb(56, 255, 56);
  text-align: center;
  margin-top: 2em;
}
#submitButton {
  float: right;
  margin-left: 1em;
}
